@import url("/src/vars");

* {
  font-size: 14px;
  outline: none;
}

html,
body {
  min-height: 100vh;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  color: @a;
}
a:hover {
  color: @a__hover;
}

h1 {
  color: @main;
}

main {
  padding-top: 15px;
  padding-bottom: 15px;
}

.app-input {
  margin: 30px auto;
  max-width: 500px;
  position: relative;

  label {
    display: block;
    font-family: Roboto, monospace;
    font-size: 14pt;
    margin-bottom: 3px;
    color: @a;
  }

  input[type="text"] {
    border: solid 3px @input_bg;
    border-radius: 0;
    padding: 0 20px;
    width: 100%;
    background-color: @input_bg;
    line-height: 50px;
    font-size: 14pt;
    transition: border 300ms;
  }

  input[type="text"][disabled] {
    background-color: #f3f3f3;
    border-color: #f3f3f3;
  }

  input[type="text"]:focus {
    border: solid 3px @main;
    background-color: @input_bg__hover;
  }

  .validation-message {
    position: absolute;
    right: 0;
    padding: 2px 8px;
    border-radius: 5px;
    background-color: firebrick;
    color: pink;
    box-shadow: 0 0 5px 3px pink;
    z-index: 1;
  }

  .validation-message::after {
    content: "";
    border: solid 5px transparent;
    border-bottom-color: firebrick;
    position: absolute;
    left: 5px;
    top: -10px;
  }
}
