<h1>Profile</h1>
<form [formGroup]="profileForm" (ngSubmit)="submit()">
  <div class="app-input">
    <label for="firstName">Email</label>
    <input disabled type="text" id="email" placeholder="john-doe@mail.com">
  </div>

  <div class="app-input">
    <label for="firstName">First Name</label>
    <input type="text" id="firstName" formControlName="firstName" placeholder="John">
    <div class="validation-message"
         *ngIf="profileForm.controls.firstName.hasError('required') && profileForm.controls.firstName.touched">
      First name is required
    </div>
    <div class="validation-message" *ngIf="profileForm.controls.firstName.hasError('maxlength')">
      First name must not contain more than 255 characters
    </div>
  </div>

  <div class="app-input">
    <label for="lastName">Last Name</label>
    <input type="text" id="lastName" formControlName="lastName" placeholder="Doe">
    <div class="validation-message"
         *ngIf="profileForm.controls.lastName.hasError('required') && profileForm.controls.lastName.touched">
      Last name is required
    </div>
    <div class="validation-message" *ngIf="profileForm.controls.lastName.hasError('maxlength')">
      Last name must not contain more than 255 characters
    </div>
  </div>

  <div class="app-input">
    <label for="phoneNumber">Phone Number</label>
    <input type="text" id="phoneNumber" formControlName="phoneNumber" prefix="+7 " mask="(000) 000-0000" placeholder="+7 (987) 654-3210">
    <div class="validation-message"
         *ngIf="profileForm.controls.phoneNumber.hasError('pattern') && profileForm.controls.phoneNumber.touched">
      Phone number must contain only 10 digits
    </div>
    <div class="validation-message" *ngIf="profileForm.controls.lastName.hasError('maxlength')">
      Phone number must not contain more than 255 characters
    </div>
  </div>

  <div class="app-input">
    <label for="website">Website</label>
    <input id="website" formControlName="website" type="text"  placeholder="john-doe.com">
    <div class="validation-message"
         *ngIf="profileForm.controls.website.hasError('pattern') && profileForm.controls.website.touched">
      Website URL is invalid
    </div>
    <div class="validation-message" *ngIf="profileForm.controls.website.hasError('maxlength')">
      Website URL must not contain more than 255 characters
    </div>
  </div>

  <div class="app-submit-button">
    <button type="submit" mat-raised-button color="primary">Save</button>
  </div>
</form>
